{% extends "layout.jinja2" %}

{% block content %}
    <div>
      <h1>{{ title }}</h1>
      <p>{{ date }}</p>
    </div>
    <div>
      <p>{{ body }}</p>
      {% if request.authenticated_userid %}
      <a href="{{ request.route_url('update', id=number) }}"><p>Edit</p></a>
      {% endif %}
    </div>
{% endblock %}