<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Entry title here</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://use.fontawesome.com/043440fbe3.css" media="all" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href = "index.html"><p>Home</p></a>
      <a href = "new-entry.html"><p>Create New Entry</p></a>
    </header>
    <div>
      <h1>Post Title</h1>
      <p>Created on some date</p>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href = "edit-entry.html"><p>Edit</p></a>
    </div>
    <footer>
      <div>
        <p>Insert social icons here!</p>
      </div>
    </footer>
  </body>
</html>
