<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link href="https://use.fontawesome.com/043440fbe3.css" media="all" rel="stylesheet">
  </head>
  <body>
    <header>
      <a href="{{ request.route_url('list') }}"><p>Home</p></a>
      <a href="{{ request.route_url('create') }}"><p>Create New Entry</p></a>
    </header>
      {% block content %}{% endblock %}
    <footer>
      <div>
        <p>Insert social icons here!</p>
      </div>
    </footer>
  </body>
</html>